In [10]:
from pyiceberg.catalog.sql import SqlCatalog

catalog = SqlCatalog(
    "default",
    **{
        "uri": f"postgresql+psycopg2://postgres:mypostgrespassword@localhost/postgres",
        "s3.endpoint": f"http://localhost:9000",
        "py-io-impl": "pyiceberg.io.fsspec.FsspecFileIO", #"pyiceberg.io.pyarrow.PyArrowFileIO" pyarrow only supports https scheme
        "s3.access-key-id": "minio",
        "s3.secret-access-key": "myminiosecret",
        "warehouse": "s3://warehouse",
    },
)

In [11]:
!curl https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet -o /tmp/yellow_tripdata_2023-01.parquet

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 45.4M  100 45.4M    0     0  22.6M      0  0:00:02  0:00:02 --:--:-- 22.6M

In [12]:
import pyarrow.parquet as pq

df = pq.read_table("/tmp/yellow_tripdata_2023-01.parquet")

In [13]:
from pyiceberg.catalog.sql import NamespaceAlreadyExistsError

try:
    catalog.create_namespace("default")
except NamespaceAlreadyExistsError:
    pass

In [18]:
from pyiceberg.catalog.sql import TableAlreadyExistsError

try:
    table = catalog.create_table(
    "default.taxi_dataset",
    schema=df.schema,
)
except TableAlreadyExistsError:
    table = catalog.load_table("default.taxi_dataset")

In [19]:
table.overwrite(df)

In [47]:
import pandas as pd

df2 = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")

In [48]:
df2.head().to_dict()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00